<div style="text-align:center">
  <h1>Accounts View</h1>
</div>

<div>Pick columns to display:</div>
<div class="demo-button-container">
  <ng-container *ngFor="let column of ckdColumns">
    <div *ngIf="column.display==false; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <button mat-raised-button (click)="addColumn(column.columnDef)" class="demo-button">Add {{column.header}}</button>
    </ng-template>
    <ng-template #elseBlock>
      <button mat-stroked-button color="primary" (click)="removeColumn(column.columnDef)" class="demo-button">Remove {{column.header}}</button>
    </ng-template>
  </ng-container>
</div>

<div>Select filter:</div>
<p>
  <label *ngFor="let filter of filters">
    <input type="radio" name="filters" [(ngModel)]="filterBy" [value]="filter">{{filter}}
  </label>
</p>

<ng-template [ngIf]="filterBy=='Developer'">
  <div>Filter by developer</div>
  <select [(ngModel)]="dataSource.filter">
    <ng-container *ngFor="let developer of developerOptions">
      <option [ngValue]="developer">{{developer}}</option>
    </ng-container>
  </select>
</ng-template>

<ng-template [ngIf]="filterBy=='Developer Group'">
  <div>Filter by developer group</div>
  <select [(ngModel)]="dataSource.filter">
    <ng-container *ngFor="let group of devGroupOptions">
      <option [ngValue]="group">{{group}}</option>
    </ng-container>
  </select>
</ng-template>

<ng-template [ngIf]="filterBy=='Expression'">
  <mat-form-field>
    <mat-label>Filter by Expression</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. atlas" #input>
  </mat-form-field>
</ng-template>

<ng-template [ngIf]="filterBy!=undefined">
  <button (click)="clearFilters()">Clear Filter</button>
</ng-template>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by {{column.header}}">
      {{column.header}}
    </th>
    <td mat-cell *matCellDef="let row">
      {{column.cell(row)}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="reducedDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: reducedDisplayedColumns;"></tr>
</table>
