<h2>Manage developer groups here</h2>

<div>Enable/Disable Dry-Run:</div>
<p>
  <label *ngFor="let option of options">
    <input type="radio" name="toggle1" [(ngModel)]="dryrun" [value]="option.value">{{option.action}}
  </label>
</p>
<div>Search by:</div>
<p>
  <label *ngFor="let item of items">
    <input type="radio" name="toggle2" [(ngModel)]="workflow" [value]="item.value">{{item.action}}
  </label>
</p>

<ng-template [ngIf]="workflow=='group'">
<div>CHOOSE A GROUP</div>
<select [(ngModel)]="group_id" (ngModelChange)="getSelectedDevelopers();getAllDevelopersExcept()">
  <ng-container *ngFor="let group of allGroupsList">
    <option [ngValue]="group.DBMDG_ID">{{group.DBMDG_GROUP_NAME}}</option>
  </ng-container>
</select>
<br><br>
<div>CHOOSE A DEVELOPER TO ADD TO THE GROUP</div>
<select [(ngModel)]="groupless_developer_id">
  <ng-container *ngFor="let developer of eligibleDevelopersList">
    <option [ngValue]="developer.DBMDEV_ID">{{developer.CONTACT}}</option>
  </ng-container>
</select>
<button type="button" (click)="insertDeveloper(groupless_developer_id,group_id,dryrun)"> Insert </button>
<br><br>
</ng-template>

<ng-template [ngIf]="workflow=='developer'">
<div>CHOOSE A DEVELOPER</div>
<select [(ngModel)]="developer_id" (ngModelChange)="getSelectedGroups();getAllGroupsExcept()">
  <ng-container *ngFor="let developer of allDevelopersList">
    <option [ngValue]="developer.DBMDEV_ID">{{developer.CONTACT}}</option>
  </ng-container>
</select>
<br><br>
<div>CHOOSE A GROUP TO ADD THE DEVELOPER TO</div>
<select [(ngModel)]="eligible_group_id">
  <ng-container *ngFor="let group of eligibleGroupsList">
    <option [ngValue]="group.DBMDG_ID">{{group.DBMDG_GROUP_NAME}}</option>
  </ng-container>
</select>
<button type="button" (click)="insertGroup(developer_id,eligible_group_id,dryrun)"> Insert </button>
<br><br>
</ng-template>

<ng-template [ngIf]="response.message.startsWith('FOR COMMIT')">
  <div>Click on 'COMMIT' to confirm the insertion of the following rows:</div>
  {{response.message}}
  <br><br>
  <ng-template [ngIf]="workflow=='group'">
  <button type="button" (click)="insertDeveloper(groupless_developer_id,group_id,'0')"> COMMIT </button>
  </ng-template>
  <ng-template [ngIf]="workflow=='developer'">
  <button type="button" (click)="insertGroup(developer_id,eligible_group_id,'0')"> COMMIT </button>
  </ng-template>
  <button type="button" (click)="reset()"> CLEAR </button>
  <br><br>
</ng-template>

<ng-template [ngIf]="response.message.startsWith('COMMITTED')">
  {{response.message}}
  <br><br>
  <button type="button" (click)="reset()"> CLEAR </button>
  <br><br>
</ng-template>


<ng-template [ngIf]="workflow == 'group'">
  <ng-template [ngIf]="dataSource_dev.data.length > 0">
    <div>CHOOSE DEVELOPERS TO DELETE FROM THE GROUP</div>
  </ng-template>
  <ng-template [ngIf]="selection_dev.selected.length > 0">
    <button type="button" (click)="delDevelopers(selection_dev.selected,dryrun)"> DELETE SELECTED DEVELOPERS </button>
  </ng-template>
</ng-template>


<ng-template [ngIf]="workflow == 'developer'">
  <ng-template [ngIf]="dataSource_grp.data.length > 0">
    <div>CHOOSE GROUPS TO DELETE THE DEVELOPER FROM</div>
  </ng-template>
  <ng-template [ngIf]="selection_grp.selected.length > 0">
    <button type="button" (click)="delGroups(selection_grp.selected,dryrun)"> DELETE SELECTED GROUPS </button>
  </ng-template>
</ng-template>

<ng-template [ngIf]="response.message.startsWith('FOR DELETE')">
  <div>Click on 'COMMIT' to confirm the deletion of the following rows:</div>
  {{response.message}}
  <br><br>
  <ng-template [ngIf]="workflow == 'group'">
    <button type="button" (click)="delDevelopers(selection_dev.selected,'0')"> COMMIT </button>
    <button type="button" (click)="reset()"> CLEAR </button>
  </ng-template>
  <ng-template [ngIf]="workflow == 'developer'">
    <button type="button" (click)="delGroups(selection_grp.selected,'0')"> COMMIT </button>
    <button type="button" (click)="reset()"> CLEAR </button>
  </ng-template>
  <br><br>
</ng-template>

<ng-template [ngIf]="response.message.startsWith('DELETED')">
  <br><br>
  {{response.message}}
  <br><br>
  <button type="button" (click)="reset()"> CLEAR </button>
  <br><br>
</ng-template>

<ng-template [ngIf]="workflow == 'group' && dataSource_dev.data.length > 0">
<table mat-table [dataSource]="dataSource_dev" *ngIf="dataSource_dev.data.length > 0" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllDevRows() : null"
                    [checked]="selection_dev.hasValue() && isAllDevSelected()"
                    [indeterminate]="selection_dev.hasValue() && !isAllDevSelected()"
                    [aria-label]="checkboxLabelDev()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection_dev.toggle(row) : null"
                    [checked]="selection_dev.isSelected(row)"
                    [aria-label]="checkboxLabelDev(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="DBMDEV_ID">
    <th mat-header-cell *matHeaderCellDef> DBMDEV_ID </th>
    <td mat-cell *matCellDef="let developer"> {{developer.DBMDEV_ID}} </td>
  </ng-container>
  <ng-container matColumnDef="CONTACT">
    <th mat-header-cell *matHeaderCellDef> CONTACT </th>
    <td mat-cell *matCellDef="let developer"> {{developer.CONTACT}} </td>
  </ng-container>
  <ng-container matColumnDef="DBMDEV_INS_DATE">
    <th mat-header-cell *matHeaderCellDef> DBMDEV_INS_DATE </th>
    <td mat-cell *matCellDef="let developer"> {{developer.DBMDEV_INS_DATE}} </td>
  </ng-container>
  <ng-container matColumnDef="DBMDEV_UPD_DATE">
    <th mat-header-cell *matHeaderCellDef> DBMDEV_UPD_DATE </th>
    <td mat-cell *matCellDef="let developer"> {{developer.DBMDEV_UPD_DATE}} </td>
  </ng-container>
  <ng-container matColumnDef="CONTACT_NAME">
    <th mat-header-cell *matHeaderCellDef> CONTACT_NAME </th>
    <td mat-cell *matCellDef="let developer"> {{developer.CONTACT_NAME}} </td>
  </ng-container>
  <ng-container matColumnDef="CONTACT_EMAIL">
    <th mat-header-cell *matHeaderCellDef> CONTACT_EMAIL </th>
    <td mat-cell *matCellDef="let developer"> {{developer.CONTACT_EMAIL}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns_dev"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns_dev;"
      (click)="selection_dev.toggle(row)"></tr>
</table>
<br><br>
</ng-template>

<ng-template [ngIf]="workflow == 'developer' && dataSource_grp.data.length > 0">
<table mat-table [dataSource]="dataSource_grp" *ngIf="dataSource_grp.data.length > 0" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllGrpRows() : null"
                    [checked]="selection_grp.hasValue() && isAllGrpSelected()"
                    [indeterminate]="selection_grp.hasValue() && !isAllGrpSelected()"
                    [aria-label]="checkboxLabelGrp()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection_grp.toggle(row) : null"
                    [checked]="selection_grp.isSelected(row)"
                    [aria-label]="checkboxLabelGrp(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="DBMDG_ID">
    <th mat-header-cell *matHeaderCellDef> DBMDG_ID </th>
    <td mat-cell *matCellDef="let group"> {{group.DBMDG_ID}} </td>
  </ng-container>
  <ng-container matColumnDef="DBMDG_GROUP_NAME">
    <th mat-header-cell *matHeaderCellDef> DBMDG_GROUP_NAME </th>
    <td mat-cell *matCellDef="let group"> {{group.DBMDG_GROUP_NAME}} </td>
  </ng-container>
  <ng-container matColumnDef="DBMDG_GROUP_DESC">
    <th mat-header-cell *matHeaderCellDef> DBMDG_GROUP_DESC </th>
    <td mat-cell *matCellDef="let group"> {{group.DBMDG_GROUP_DESC}} </td>
  </ng-container>
  <ng-container matColumnDef="DBMDG_INS_DATE">
    <th mat-header-cell *matHeaderCellDef> DBMDG_INS_DATE </th>
    <td mat-cell *matCellDef="let group"> {{group.DBMDG_INS_DATE}} </td>
  </ng-container>
  <ng-container matColumnDef="DBMDG_UPD_DATE">
    <th mat-header-cell *matHeaderCellDef> DBMDG_UPD_DATE </th>
    <td mat-cell *matCellDef="let group"> {{group.DBMDG_UPD_DATE}} </td>
  </ng-container>
  <ng-container matColumnDef="DBMDEV_ID">
    <th mat-header-cell *matHeaderCellDef> DBMDEV_ID </th>
    <td mat-cell *matCellDef="let group"> {{group.DBMDEV_ID}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns_grp"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns_grp;"
      (click)="selection_grp.toggle(row)"></tr>
</table>
<br><br>
</ng-template>

