<h1>DBMat Account Tracking</h1>
<button *ngIf="isLoggedIn" type="button" (click)="logout()">Log out</button>
<button *ngIf="!isLoggedIn" type="button" (click)="login()">Log in</button>
<nav>
<ul> 
   <li><a class="button"
     routerLink="/admindash"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
     Admins Dashboard
  </a></li>
  <li><a class="button"
     routerLink="/dashboard"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
     Accounts Dashboard
  </a></li>
</ul>
</nav>
<router-outlet></router-outlet>
