<h2>Accounts Dashboard</h2>
<nav>
  <ul>
    <li><a routerLink="./developers" routerLinkActive="active" ariaCurrentWhenActive="page">List of Developers</a></li>
    <li><a routerLink="./groups" routerLinkActive="active" ariaCurrentWhenActive="page">Developer Groups</a></li>
    <li><a routerLink="./accounts" routerLinkActive="active" ariaCurrentWhenActive="page">List of Accounts</a></li>
    <li><a routerLink="./view" routerLinkActive="active" ariaCurrentWhenActive="page">Accounts from View</a></li>
    <li><a routerLink="./summary" routerLinkActive="active" ariaCurrentWhenActive="page">Summary</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

